
        <!--==================== FOOTER ====================-->
        <footer class="footer section" id="footer">
            <div class="footer--container container grid">
                <div>
                    <a href="#" class="footer--logo">
                        <img src="/images/logo.png"  alt="">WEBPROJECT
                    </a>
                    <p class="footer--description">
                        Subscribe for company <br> Updates below.
                    </p>
                    <form action="" class="footer--form" id="contact-form">
                        <input type="email" name="user-email" placeholder="Your Email" class="footer--input" id="contact-user">
                        <button class="button" type="submit">
                            Subscribe
                        </button>
                    </form>
                    <p class="footer--message" id="contact-message"></p>
                </div>
                    <div class="footer--content">
                        <div>
                            <h3 class="footer--title">
                                SERVICES
                            </h3>
                            <ul class="footer--links">
                                <li>
                                    <a href="#" class="footer--link">Flex Muscle</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Cardio Exercise</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Basic Yoga</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Weight Lifting</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="footer--title">
                                PRICING
                            </h3>
                            <ul class="footer--links">
                                <li>
                                    <a href="#" class="footer--link">Basic</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Premium</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Diamond</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="footer--title">
                                COMPANY
                            </h3>
                            <ul class="footer--links">
                                <li>
                                    <a href="#" class="footer--link">About Us</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Careers</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Customers</a>
                                </li>
                                <li>
                                    <a href="#" class="footer--link">Partners</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="container">
                <div class="footer--group">
                    <ul class="footer--social">
                        <a href="https://www.facebook.com/" target="-blank" class="footer--social-link">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="-blank" class="footer--social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="-blank" class="footer--social-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </ul>
                    <span class="footer--copy">
                        &#169; Copyright WEBPROJECT.
                    </span>
                </div>
            </div>
        </footer>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/js/scrollreveal.min.js"></script>

        <!--=============== EMAIL JS ===============-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="/js/main.js"></script>
    </body>
</html>