<%- include('./header.ejs') %>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
                    <div class="home--container container grid">
                        <div class="home--data">
                            <h2 class="home--subtitle">MAKE YOUR</h2>
                            <h1 class="home--title">BODY SHAPE</h1>
                            <p class="home--description">
                                In here we will help you to shape and build your ideal body and live your life to the fullest.
                            </p>
                            <a href="#" class="button button--flex">
                                Get Started <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>

                        <div class="home--images">
                            <img src="/images/home-img.png" alt="home image" class="home--img">

                            <div class="home--triangle home--triangle-3"></div>
                            <div class="home--triangle home--triangle-2"></div>
                            <div class="home--triangle home--triangle-1"></div>
                        </div>
                    </div>
            </section>

            <!--==================== LOGOS ====================-->
            <section class="logos section">
                <div class="logos--container container grid">
                    <img src="/images/logo1.png" alt="logo image" class="logos--img">
                    <img src="/images/logo2.png" alt="logo image" class="logos--img">
                    <img src="/images/logo3.png" alt="logo image" class="logos--img">
                    <img src="/images/logo4.png" alt="logo image" class="logos--img">
                </div>
            </section>

            <!--==================== PROGRAM ====================-->
            <section class="program section" id="program">
                <div class="container">
                    <div class="section--data">
                        <h2 class="section--subtitle">Our Program</h2>
                        <div class="section--titles">
                            <h1 class="section--title-border">BUILD YOUR</h1>
                            <h1 class="section--title">BEST BODY</h1>
                        </div>
                    </div>
                        <div class="program--container grid">

                            <article class="program--card">
                                <div class="program--shape">
                                    <img src="/images/program1.png" alt="program image" class="program--img">
                                </div>
                                <h3 class="program--title">Flex Muscle</h3>
                                <p class="program--decription">
                                    Creating tension thats temporarily making the muscle fiber smaller or contracted.
                                </p>
                                <a href="#" class="program--button">
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </article>

                            <article class="program--card">
                                <div class="program--shape">
                                    <img src="/images/program2.png" alt="program image" class="program--img">
                                </div>
                                <h3 class="program--title">Cardio Exercise</h3>
                                <p class="program--decription">
                                    Creating tension thats temporarily making the muscle fiber smaller or contracted.
                                </p>
                                <a href="#" class="program--button">
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </article>

                            <article class="program--card">
                                <div class="program--shape">
                                    <img src="/images/program3.png" alt="program image" class="program--img">
                                </div>
                                <h3 class="program--title">Basic Yoga</h3>
                                <p class="program--decription">
                                    Creating tension thats temporarily making the muscle fiber smaller or contracted.
                                </p>
                                <a href="#" class="program--button">
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </article>

                            <article class="program--card">
                                <div class="program--shape">
                                    <img src="/images/program4.png" alt="program image" class="program--img">
                                </div>
                                <h3 class="program--title">Weight Lifting</h3>
                                <p class="program--decription">
                                    Creating tension thats temporarily making the muscle fiber smaller or contracted.
                                </p>
                                <a href="#" class="program--button">
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </article>
                        </div>
                </div>
            </section>

            <!--==================== CHOOSE US ====================-->
            <section class="choose section" id="choose">
                <div class="choose--overflow">
                    <div class="choose--container container grid">
                        <div class="choose--content">
                        <div class="section--data">
                            <h2 class="section--subtitle">Best Reason</h2>
                            <div class="section--title">
                                <h1 class="section--title-border">WHY</h1>
                                <h1 class="section--title">CHOOSE US ?</h1>
                            </div>
                        </div>
                            <p class="choose--description">
                                Creating tension thats temporarily making the muscle fiber smaller or contracted.
                            </p>
                            <div class="choose--data">
                                <div class="choose--group">
                                    <h3 class="choose--number">200+</h3>
                                    <p class="choose--subtitle">Total Members</p>
                                </div>
                            
                            
                                <div class="choose--group">
                                    <h3 class="choose--number">50+</h3>
                                    <p class="choose--subtitle">Best Trainer</p>
                                
                            </div>
                            
                                <div class="choose--group">
                                    <h3 class="choose--number">25+</h3>
                                    <p class="choose--subtitle">Programs</p>
                                
                            </div>
                            
                                <div class="choose--group">
                                    <h3 class="choose--number">100+</h3>
                                    <p class="choose--subtitle">Awards</p>
                                
                            </div>
                        </div>
                            </div>
                            <div class="choose--images">
                                <img src="/images/choose-img.png" alt="choose image" class="choose--img">
                                <div class="choose--triangle choose--triangle-1"></div>
                                <div class="choose--triangle choose--triangle-2"></div>
                                <div class="choose--triangle choose--triangle-3"></div>
                            </div>
                    </div>
                </div>
            </section>

            <!--==================== PRICING ====================-->
            <section class="pricing section" id="pricing">
                <div class="container">
                    <div class="section--data">
                        <h2 class="section--subtitle">PRICING</h2>
                        <div class="section--titles">
                            <h1 class="section--title-border">OUR</h1>
                            <h1 class="section--title">SPECIAL PLAN</h1>
                        </div>
                    </div>
                    <div class="pricing--container grid">

                        <article class="pricing--card">
                            <header class="pricing--header">
                                <div class="pricing--shape">
                                    <img src="/images/pricing1.png" alt="pricing image" class="pricing--img">
                                </div>

                                <h1 class="pricing--title">BASIC PACKAGE</h1>
                                <h2 class="pricing--number">200$</h2>
                            </header>
                            <ul class="pricing--list">
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>5 Days In A Week 
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>01 Sweatshirt
                                </li>
                                <li class="pricing--item pricing--item-opacity">
                                    <i class="ri-checkbox-circle-line"></i>01 Bottle of protein 
                                </li>
                                <li class="pricing--item pricing--item-opacity">
                                    <i class="ri-checkbox-circle-line"></i>Access to Videos
                                </li>
                                <li class="pricing--item pricing--item-opacity">
                                    <i class="ri-checkbox-circle-line"></i>Muscle Stretching
                                </li>
                            </ul>
                            <a href="#" class="button button--flex pricing--button">
                                Purchase Now <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                        <article class="pricing--card pricing--card-active">
                            <header class="pricing--header">
                                <div class="pricing--shape">
                                    <img src="/images/pricing2.png" alt="pricing image" class="pricing--img">
                                </div>

                                <h1 class="pricing--title">PREMIUM PACKAGE</h1>
                                <h2 class="pricing--number">240$</h2>
                            </header>

                            <ul class="pricing--list">
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>5 Days In A Week 
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>01 Sweatshirt
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>01 Bottle of protein 
                                </li>
                                <li class="pricing--item pricing--item-opacity">
                                    <i class="ri-checkbox-circle-line"></i>Access to Videos
                                </li>
                                <li class="pricing--item pricing--item-opacity">
                                    <i class="ri-checkbox-circle-line"></i>Muscle Stretching
                                </li>
                            </ul>
                            <a href="#" class="button button--flex pricing--button">
                                Purchase Now<i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                        <article class="pricing--card">
                            <header class="pricing--header">
                                <div class="pricing--shape">
                                    <img src="/images/pricing3.png" alt="pricing image" class="pricing--img">
                                </div>

                                <h1 class="pricing--title">DIAMOND PACKAGE</h1>
                                <h2 class="pricing--number">420$</h2>
                            </header>
                            <ul class="pricing--list">
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>5 Days In A Week 
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>01 Sweatshirt
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>01 Bottle of protein 
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>Access to Videos
                                </li>
                                <li class="pricing--item">
                                    <i class="ri-checkbox-circle-line"></i>Muscle Stretching
                                </li>
                            </ul>
                            <a href="#" class="button button--flex pricing--button">
                                Purchase Now <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                    </div>
                </div>
            </section>

            <!--==================== CALCULATE ====================-->
            <section class="calculate section">
                <div class="calculate--container container grid">
                    <div class="calculate--content">
                        <div class="section--titles">
                            <h1 class="section--title-border">CALCULATE</h1>
                            <h1 class="section--title">BMI & BMR</h1>
                        </div>
                        <p class="calculate--description">
                        The body mass index (BMI) calculator calculates 
                        body mass index from your weight and height.
                    </p>
                    <form action="" class="calculate--form" id="">
                        <div class="calculate--box">
                            <input type="number" placeholder="Height" class="calculate--input" id="height">
                            <label for="" class="calculate--label">Cm</label>
                        </div>
                        <div class="calculate--box">
                            <input type="number" placeholder="Weight" class="calculate--input" id="weight">
                            <label for="" class="calculate--label">Kg</label>
                        </div>
                        <div class="calculate--box">
                            <input type="number" placeholder="Age" class="calculate--input" id="age">
                            <label for="" class="calculate--label">Years</label>
                        </div>
                        <div class="calculate--box">
                            <label for="gender" class="calculate--label">Gender</label>
                            <select id="gender" class="select">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        </div>
                        
                    </form>


                    <form  id="calculatorForm">

                        <div class="button-container">
                            <input type="submit" value="Calculate BMI" class="bmi">
                            <input type="submit" value="Calculate BMR" class="bmr">
                          </div>
                          <br>
                          <div class="button-container-reset">
                            <input type="reset" value="Reset" class="reset">
                          </div>
                        </form>
                    
                        <div id="result">
                          <h3 class="result">Your Results:</h3>
                          <p class="bmitext" id="bmiResult">BMI: <span id="bmiValue"></span> kg/m<sup>2</sup></p>
                          <p class="bmrtext" id="bmrResult">BMR: <span id="bmrValue"></span> Calories Per Day</p>
                        </div>
                    </form>



                    <p class="calculate--message" id="calculate--message"></p>
                    </div>
                    <img src="/images/calculate-img.png" alt="calculate image" class="calculate--img">
                </div>
            </section>
        </main>
        <script>
            document.getElementById('calculatorForm').addEventListener('submit', function(event) {
              event.preventDefault();
            
              var weight = parseFloat(document.getElementById('weight').value);
              var height = parseFloat(document.getElementById('height').value);
              var age = parseInt(document.getElementById('age').value);
              var gender = document.getElementById('gender').value;
            
              var bmiResult = document.getElementById('bmiValue');
              var bmrResult = document.getElementById('bmrValue');
            
              if (event.submitter.value === 'Calculate BMI') {
                var bmi = calculateBMI(weight, height);
                bmiResult.textContent = bmi.toFixed(2);
                bmrResult.textContent = '';
                bmiResult.style.color = '#4caf50';
                bmrResult.style.color = '';
              } else if (event.submitter.value === 'Calculate BMR') {
                var bmr = calculateBMR(weight, height, age, gender);
                bmrResult.textContent = bmr.toFixed(2);
                bmiResult.textContent = '';
                bmiResult.style.color = '';
                bmrResult.style.color = '#4caf50';
              }
            
              var resultDiv = document.getElementById('result');
              resultDiv.style.display = 'block';
            });
            
            function calculateBMI(weight, height) {
              var bmi = weight / ((height / 100) * (height / 100));
              return bmi;
            }
            
            function calculateBMR(weight, height, age, gender) {
              var bmr;
            
              if (gender === 'male') {
                bmr = 10 * weight + 6.25 * height - 5 * age + 5;
              } else if (gender === 'female') {
                bmr = 10 * weight + 6.25 * height - 5 * age - 161;
              }
            
              return bmr;
            }
            
            document.getElementById('calculatorForm').addEventListener('reset', function(event) {
              var resultDiv = document.getElementById('result');
              resultDiv.style.display = 'none';
              document.getElementById('bmiValue').textContent = '';
              document.getElementById('bmrValue').textContent = '';
            });
            
              </script>
        

<%- include('./footer.ejs') %>